# Project information
site_name: 随便写写
site_url: https://enec0de.github.io/draft
site_author: Aina
site_description: >-
  Some miscellaneous.

# Repository
repo_name: Enec0De/draft
repo_url: https://github.com/Enec0De/draft

# Copyright
copyright: Copyright &copy; 2024 - 2025 Aina.

# Configuration
theme:
  name: material
  language: zh
  features:
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.preview
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    # - offline
    # - search.highlight
    # - search.share
    # - search.suggest
    - toc.follow
    # - toc.integrate
  palette: 
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: cyan
      accent : amber
      toggle:
        icon: material/jellyfish
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: pink
      toggle:
        icon: material/jellyfish-outline
        name: Switch to light mode
  font: false
  favicon: assets/images/jellyfish-outline.svg
  icon:
    logo: material/format-list-text
    # repo: material/git

# Plugins
plugins:
  - search:
      lang: zh
      # separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true

# Additional configuration
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/home

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - stylesheets/extra.css
  - https://unpkg.com/katex@0/dist/katex.min.css

#Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  # - pymdownx.betterem:
  #     smart_enable: all
  # - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      pygments_lang_class: true
      line_spans: __span
  - pymdownx.inlinehilite
  - pymdownx.keys
  # - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      base_path: src/
  #     auto_append
  #       - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  # - pymdownx.tilde

# Page tree
nav:
  - 主页: index.md
  - 文档规范: 
    - fundamentals/index.md
    - 基本元素:
      - 文档源代码结构: fundamentals/document-structure.md
      - 引用链接: fundamentals/links-and-references.md
      - 列表元素: fundamentals/lists.md
    - 扩展元素:
      - 代码块元素: fundamentals/code-blocks.md
      - 网格元素: fundamentals/grid-layouts.md
      - 表格元素: fundamentals/tables.md
      - 其他元素: fundamentals/other-elements.md
  - 编程语言:
    - programming/index.md
    - Python: 
      - 基本功能: programming/python/basics.md
      - 面向对象: programming/python/object-oriented.md
      - 操作系统: programming/python/system-interaction.md
    - Shell:
      - 基本语法: programming/shell-scripting/basics.md
      # - 进阶: programming/shell-scripting/advanced-techniques.md
  - Linux: 
    - linux/index.md
    - 基础工具:
      - 常用: linux/essential-tools/tools.md
  - 网课:
    - courses/index.md
    - TCCA: 
      - 云计算概述: courses/tcca/01-Cloud-Overview.md
      - 计算服务之云服务器: courses/tcca/02-CVM-Service.md
      - 计算服务之容器技术: courses/tcca/03-Compute-Container-Tech.md
      - 云网络服务: courses/tcca/04-Network-Service.md
      - 云存储服务: courses/tcca/05-Storage-Service.md
      - 云数据库服务: courses/tcca/06-Database-Service.md
      - 云安全服务: courses/tcca/07-Security-Service.md

    - 操作系统: 
      - 绪论: courses/operating-systems/introduction.md
      - 虚拟化: courses/operating-systems/virtualization.md
