@font-face {
  font-family: "MonoLite";
  src:
    url("../assets/fonts/LXGWWenKaiMonoLite-Medium.ttf");
  font-display: swap; 
}

:root {
  --md-text-font: "MonoLite";
  --md-code-font: "MonoLite";
}
