/* 定义等宽字体 */
@font-face {
  font-family: "BrightCode-Light";
  src:
    url("../fonts/LXGWBrightCode-Light.woff2");
  font-display: swap;
}

/* 设定全局字体 */
:root {
   --md-text-font: "BrightCode-Light";
   --md-code-font: "BrightCode-Light";
 }

/* 自定义颜色 */
[data-md-color-scheme="blackpink"] {
  --md-primary-fg-color:             hsla(0,0%,11%,0.95);
  --md-accent-fg-color:              #E16B8C;
  --md-accent-fg-color--transparent: hsla(343,52%,88%,0.35);
}
