@font-face {
  font-family: "LXGWMono";
  src:
    url("../assets/fonts/LXGWWenKaiMonoLite-Medium.woff2");
  font-display: swap; 
}

:root {
  --md-text-font: "LXGWMono";
  --md-code-font: "LXGWMono";
}
